@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway:wght@200;400&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {}

ul {
    list-style-type: none;
    color: rgb(46, 17, 17);
}

a {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

p {
    width: 300px
}

/* navbar */

.navbar {
    height: auto;
    overflow: hidden;
}

.navbar .flex {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar ul a:hover {
    font-weight: bold;
}

/* showcase */

.showcase {
    background-image: url('/images/projects/coulter_pine/large-1200w/coulter_pine-018.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

/* letswork */

.letswork {
    height: auto;
}

.letswork img {
    height: 350px;
    box-shadow: 10px 10px 5px #ccc;
}

.letswork .flex {
    justify-content: space-evenly;
}

.letswork .btn:hover {
    font-weight: bold;
}

/* recent */

.recent {
    height: auto;
}

.recent .container .flex {
    flex-direction: column;
}

.recent .fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.recent .fade:hover {
    opacity: 0.5;
}

.recent-thumb {
    position: relative;
    padding: 10px;
}

/* services */

.services {
    height: auto;
}

/* socialfeed */

.socialfeed {
    height: auto;
    margin: 50px 0;
    overflow: hidden;
    margin: 0;
}

.socialfeed .container {
    width: 800px
}

/* connect */

.connect {
    height: auto;
    overflow: hidden;
}

/* footer */

.footer {
    height: auto;
}

.footer ul {
    list-style-type: none;
    color: white;
}

/* portfolio header */
.portfolio-header {
    height: auto;
}
.portfolio-header img {
    /* max-width: 40%; */
}

/* portfolio images */
.portfolio {
    height: auto;
    /* border: solid black 1px; */
}